# virtual environments
.venv/
venv/

# python cache
__pycache__/
*.pyc
*.pyo

# environment variables
.env
.env.*
!.env.example

# logs
logs/
*.log

# vscode settings
.vscode/

# system files
.DS_Store

# pytest
.pytest_cache/

# python build artifacts
build/
dist/
*.egg-info/